.banner {
    background-image: url("../img/banner02.jpg");
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 20%;
}

.bannertext {
    /* color: #D0D0D0; */
    /* color: #E0E0E0; */
    color: #F0F0F0;
}
