.banner {
    background-image: url("../img/banner02.jpg");
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bannertext {
    color: #707070;
    margin-top: -20px;
}
